<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1040941593312-0il5tgccuqugg523va9j0do06lkgldd7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1040941593312-0il5tgccuqugg523va9j0do06lkgldd7</string>
	<key>API_KEY</key>
	<string>AIzaSyAa8E7aOKgKOsyRrTztiFgXHp5b-XD8pTw</string>
	<key>GCM_SENDER_ID</key>
	<string>1040941593312</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Curso-IOS.UberClone</string>
	<key>PROJECT_ID</key>
	<string>uber-clone-e1a22</string>
	<key>STORAGE_BUCKET</key>
	<string>uber-clone-e1a22.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1040941593312:ios:27d8dc39b7651c5094d685</string>
</dict>
</plist>